<h3>Edit Shelter Info</h3>
<form action='/shelters/<%= @shelter.id %>' method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit Name of shelter</p>
  <input type='text' name='shelter[name]' value="<%= @shelter.name %>"/><br/>

  <p>Edit address</p>
  <input type='text' name='shelter[address]' value="<%= @shelter.address %>"/><br/>

  <p>Edit City</p>
  <input type='text' name='shelter[city]' value="<%= @shelter.city %>"/><br/>

  <p>Edit state</p>
  <input type='text' name='shelter[state]' value="<%= @shelter.state %>"/><br/>

  <p>Edit zip</p>
  <input type='text' name='shelter[zip]' value="<%= @shelter.zip %>"/><br/>
  <input type='submit' value="Submit shelter"/>
</form>
