<h1>All shelters in the system:</h1>
<a href="/pets">Pets Index</a><br>
<h3><a href="/shelters/new">New shelter</a></h3>

<% @shelters.each do |shelter| %>
  <div>
    <p>
      <b><a href="/shelters/<%= shelter.id %>">Name: <%= shelter.name %></a></b>
      <a href="/shelters/<%= shelter.id %>/edit">Edit</a> <%= link_to "Delete", "/shelters/#{shelter.id}", method: 'delete' %><br>
      Address: <%= shelter.address %><br>
      City: <%= shelter.city %><br>
      State: <%= shelter.state %><br>
      Zip: <%= shelter.zip %>
    </p>
  </div>
<% end %>
