<p>
  <%=@application.user.name %><br>
  Address: <%=@application.user.address %><br>
  City: <%= @application.user.city %><br>
  State: <%= @application.user.state %><br>
  Zip: <%= @application.user.zip %><br>
  Description: <%=@application.description %><br>
  Status: <%=@application.status %><br>
</p>



<% @application.pets.each do |pet|  %>
  <section id="pet-<%=pet.id%>">
    <%= pet.name %>
  </section>
<% end %>
