<p>
  <%=@application.user.name %><br>
  Address: <%=@application.user.address %><br>
  City: <%= @application.user.city %><br>
  State: <%= @application.user.state %><br>
  Zip: <%= @application.user.zip %><br>
  Description: <%=@application.description %><br>
  Status: <%=@application.status %><br>
</p>

<section id="submission">
  <% if @application.pets.count >= 1 && @application.status != "Pending"%>
    <%= form_tag "/applications/#{@application.id}", method: :patch do%>
      <%= label_tag :Description %>
      <%= text_field_tag :description %>
      <%= submit_tag 'Submit Application'%>
    <% end %>
  <% end %>
</section>

<% if @application.status == "In Progress" %>
  <h4>Add a Pet to this Application</h4>
  <%= form_tag "/applications/#{@application.id}", method: :get do%>

  <%= text_field_tag :search, params[:search] %><br>

  <%= submit_tag 'Search' %>
  <% end %>
  <section id='pet_search'>
  <% @pet_search.each do |pet| %>
  <ul>
    <%= form_tag "/applications/#{@application.id}/#{pet.id}/add_pet", method: :post do%>
    <li><%= pet.name %> <%= submit_tag 'Adopt this pet' %></li>
    <% end %>
  </ul>
  <% end %>
  </section>
<% end %>

<h3>Pets in Application</h3>
<% @application.pets.each do |pet|  %>
  <section id="pet-<%=pet.id%>">
    <%= pet.name %>
  </section>
<% end %>
