<h1>Name: <%= @user.name %></h1>
<p>
  Address: <%= @user.address %><br>
  City: <%= @user.city %><br>
  State: <%= @user.state %><br>
  Zip: <%= @user.zip %><br>
</p>

<% @reviews.each do |review| %>
<div>
  <b>Title: <%= review.title %><br></b>
  Rating: <%= review.rating %><br>
  Content: <%= review.content %><br>
</div><br>
<%end%>
