<h1>Name: <%= @user.name %></h1>
<p>
  Address: <%= @user.address %><br>
  City: <%= @user.city %><br>
  State: <%= @user.state %><br>
  Zip: <%= @user.zip %><br>
</p>

<p>User's average rating: <%=@user.average_rating%></p><b>

<section id='highlighted-reviews'>
  <h2>Highlighted Reviews</h2>
  <% @highlighted_reviews.each do |review| %>
    <b>Title: <%= review.title %></b><br>
    Rating: <%= review.rating %><br>
    Content: <%= review.content %><br><br>
  <% end %>
</section><br>

<h2>All Reviews:</h2>
<% @reviews.each do |review| %>
<div>
  <b>Title: <%= review.title %></b><br>
  Rating: <%= review.rating %><br>
  Content: <%= review.content %><br>
</div><br>
<%end%>
